
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: linear-gradient(to right top, #67404e,
     #614057, #58425f, #4c4465, #3b4769, #2d4d6e, #1b5370, #005870, #00626f, #006b65, #087255, #3c7741);
    box-sizing: border-box; 
}

.card {
  background: #222;
  padding: 30px;
  border-radius: 15px;
  border: 3px solid #007bff;
  text-align: center;
  max-width: 600px;
  width: 90%;
  height: 500px;
  box-shadow: 0 6px 25px rgba(0, 123, 255, 0.2);
  box-sizing: border-box;
}

.card:hover {
  border-color: #00d4ff;
  box-shadow: 0 8px 30px rgba(0, 123, 255, 0.3);
}

  
  .card h1 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color:white;
  }
  p {
    color: white; 
    font-size: 20px;
    line-height: 1.5;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .view-resume-btn {
    display: inline-block;
    margin-top: 15px;
    padding: 12px 25px;
    background: linear-gradient(135deg, #007bff, #00d4ff); 
    color: white;
    text-decoration: none;
    border-radius: 30px; 
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 10px rgba(0, 123, 255, 0.3);
    border: none;
  }
  
  .view-resume-btn:hover {
    background: linear-gradient(135deg, #0056b3, #00aaff);
    box-shadow: 0 6px 15px rgba(0, 123, 255, 0.5);
    transform: translateY(-3px); 
  }
  
  .resume-img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: 100%; 
    width: 500px; 
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  }
  
  footer {
    text-align: center;
    margin-top: 20px; 
  }
  .rainbow-text {
    background-image: linear-gradient(to right, violet, rgb(150, 64, 212), rgb(76, 119, 156), green,yellow, orange, red);
    background-clip: text; 
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
}

.social-icon {
  margin: 0 10px;
  font-size: 50px; 
  transition: transform 0.3s ease-in-out;
  display: inline-block;
}

.linkedin {
  color: #0077b5;
}

.linkedin:hover {
  color: #548fbd;
  transform: scale(1.2);
}

.github {
  color: #0077b5;
}

.github:hover {
  color: #548fbd;
  transform: scale(1.2);
}

